/* Reset styles */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Typography */
.aside-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 60px;
  color: #ffffff;
  padding-left: 1.7em;
}

.aside-subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-size: 1.5rem;
  color: #ffffff;
  padding-left: 2.9em;
}

@media screen and (max-width: 1200px) {
  .aside-subtitle {
    font-size: 0.8rem;
    padding-left: 3.3em;
  }
}

@media screen and (max-width: 1200px) {
  .aside-title {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #000000;
}

.signin-title {
  padding-top: 0.3em;
}

input {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 24px;
  padding-left: 1.5em;
}
button {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  color: #ffffff;
}

.divider span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #c4c4c4;
}
/* Layout */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.columns {
  display: flex;
  height: 100vh;
}

.col-1 {
  width: 72.2%;
  display: flex;
  align-items: center;
}

.col-2 {
  min-width: 27.8%;
  max-width: 403px;
  margin-left: auto;
  background-image: url("../img/aside-img.jpg");
  background-size: cover;
  background-repeat: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5em;
}

@media screen and (max-width: 600px) {
  .col-2 {
    display: none;
  }
  .col-1 {
    width: 100%;
  }
  .columns {
    height: 100%;
  }
}

.mfa-content {
  width: 319px;
  min-height: 700px;
  margin: 0 auto;
}

.mfa-content p {
  font-family: "Poppins";
  font-style: normal;
  font-size: 14px;
  line-height: 2em;
  padding-top: 2em;
  text-align: center;
}

.header {
  padding: 4.14em 0 4.14em 0;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 158.43px;
  height: 27px;
}

.signin {
  display: block;
}

.auth {
  display: flex;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 1.9em;
}

.auth-item {
  padding: 0 1em;
}
.auth-link {
  display: inline-block;
  border-radius: 8px;
  height: 55px;
}

.auth-icon {
  width: 55px;
  height: 55px;
}

.auth-link:selection,
.auth-link:focus-visible {
  outline: 2px solid #007cc1;
}

.auth-icon:not(.noactive):focus-visible,
.auth-icon:not(.noactive):hover {
  border: none;
  border-radius: 8px;
  outline: 2px solid #007cc1;
  transition: 0.1s;
}

.divider {
  display: flex;
  justify-content: center;
  border-top: 1px solid #c4c4c4;
  height: 22px;
}

.divider-title {
  position: relative;
  top: -0.8em;
  background-color: #ffffff;
  padding: 0 0.8em;
}

.form {
  padding-top: 1.3em;
}
.form-item {
  position: relative;
  padding-bottom: 2.3em;
}

.form-field {
  width: 319px;
  height: 48px;
  border: 1px solid #8c8c8c;
  border-radius: 8px;
}

input[type="text"],
input[type="password"] {
  box-sizing: border-box;
  outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="text"]:hover,
input[type="password"]:hover {
  border: 2px solid #007cc1;
  cursor: pointer;
}

.btn-submit {
  width: 319px;
  height: 48px;
  color: #ffffff;
  border-radius: 8px;
  background: #007cc1;
  border: none;
  margin-top: -5px;
}

.btn-submit span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-submit span:after {
  content: "\00bb";
  position: absolute;
  font-size: 1.5rem;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn-submit:hover span {
  padding-right: 25px;
}

.btn-submit:hover span:after {
  opacity: 1;
  right: 0;
}

.btn-submit:focus-visible,
.btn-submit:hover {
  cursor: pointer;
}

.btn-submit:active {
  border: 1px solid #ffffff;
}

/* Loader */
.redirect {
  display: none;
  padding-top: 10em;
}
.redirect-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.redirect-content span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  padding-top: 24px;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #e6e6e6;
  border-right: 5px solid #cfcfcf;
  border-bottom: 5px solid #ff8a00;
  width: 78px;
  height: 78px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Error messages */

.alert {
  display: flex;
  justify-content: center;
  margin-top: -2em;
}
.error-message {
  /* display: none; */
  position: absolute;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #ff5757;
  padding-top: 6px;
}

#kc-error-message,
#kc-info-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  color: #ff5757;
  padding-top: 6px;
}

#kc-info-message a {
  font-size: 1rem;
  line-height: 4rem;
}

#kc-error-message #backToApplication {
  font-size: 1rem;
}

#kc-otp-login-form h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 48px;
  color: #000000;
  text-align: center;
}

#kc-otp-login-form input {
  width: 319px;
  height: 48px;
  border: 1px solid #8c8c8c;
  border-radius: 8px;
  margin-bottom: 1.5em;
}

#kc-otp-login-form #otp {
  caret-color: transparent;
  font-family: unset;
  font-size: 22px;
  width: 380px;
  box-sizing: border-box;
  border: none;
  background-image: url("../img/pins.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 320px 46px;
  letter-spacing: 45px;
  margin-top: 20px;
  outline: none;
  padding-left: 15px;
  white-space: normal;
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  #kc-otp-login-form #otp {
    width: 280px;
    font-size: 16px;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 220px 28px;
    letter-spacing: 39px;
    margin-top: 20px;
    outline: none;
    margin-left: 53px;
    padding-left: 10px;
    white-space: normal;
  }
}

@media screen and (max-width: 440px) {
  .alert {
    text-align: center;
  }
  #kc-otp-login-form #otp {
    width: 280px;
    font-size: 16px;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 220px 28px;
    letter-spacing: 29px;
    margin-top: 20px;
    outline: none;
    margin-left: 53px;
    padding-left: 10px;
    white-space: normal;
  }

  input#kc-login.pf-c-button.pf-m-primary.pf-m-block.btn-lg {
    width: 270px;
    margin-left: 26px;
  }
}

#kc-otp-login-form #otp::selection {
  background: none;
}

#kc-otp-login-form #otp::-moz-selection {
  background: none;
}

#kc-login {
  width: 319px;
  height: 48px;
  color: #ffffff;
  border-radius: 8px;
  background: #007cc1;
  border: none;
  padding-right: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

#kc-login:focus,
#kc-login:hover {
  cursor: pointer;
  letter-spacing: 2px;
}

#userError {
  padding-top: 2em;
}

.input-error {
  border: 1px solid #ff5757;
}

.username-error {
  padding-left: 8px;
}

.data-error {
  left: 50%;
  transform: translateX(-50%);
}

.instruction {
  font-family: "Poppins";
  font-style: normal;
  font-size: 14px;
  line-height: 2em;
  padding-top: 2em;
}

/* Style for JS add */
.show-content {
  display: block;
}

.hide-content {
  display: none;
}
